<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <appSettings>
  </appSettings>

  <autofac>
    <modules>
      <module type="ATMTECH.BillardLoretteville.Services.Base.BillardLorettevilleInitializer, ATMTECH.BillardLoretteville.Services, Version=1.0.0.0, Culture=neutral"/>
    </modules>
  </autofac>

  <connectionStrings>
    <add name="connectionString" connectionString="data source=C:\dev\Atmtech\ATMTECH.BillardLoretteville.Website\Data\BillardLoretteville.db3" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Windows"/>
    <pages theme="default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Affichage"/>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Edition"/>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Grille"/>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Validation"/>
        <!-- CMS -->
        <add tagPrefix="atmtech" src="~/CMS/Content.ascx" tagName="Content"/>
        <add tagPrefix="atmtech" src="~/CMS/Login.ascx" tagName="Login"/>
        <add tagPrefix="atmtech" src="~/CMS/Menu.ascx" tagName="Menu"/>
        <add tagPrefix="atmtech" src="~/CMS/FileUpload.ascx" tagName="FileUpload"/>
        <add tagPrefix="atmtech" src="~/CMS/MediaGallery.ascx" tagName="MediaGallery"/>
      </controls>
    </pages>
    <httpModules>
      <add name="HttpModuleSessionManager" type="ATMTECH.Web.HttpModuleSessionManager, ATMTECH.Web"/>
      <add name="OboutUploadModule" type="OboutInc.FileUpload.UploadProgressModule, obout_FileUpload, Version=1.9.120.1,Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="OboutInc.UploadProgressHandler.aspx" type="OboutInc.FileUpload.UploadProgressHandler, obout_FileUpload, Version=1.9.120.1,Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
    </httpHandlers>
  </system.web>
</configuration>
