@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Montserrat);


body
{
    color: #444;
    font-family: "Raleway", Helvetica, sans-serif;
    margin: 0 0 0 0;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6
{
    color: #474747;
    font-weight: 700;
    margin-bottom: 15px;
}

h1
{
    font-size: 55px;
}

h2
{
    font-size: 45px;
}

h3 {
    font-size: 20px;
}

.entete
{
    background-color: black;
}

a
{
    text-decoration: none;
    color: white;
}

p
{
    margin: 0 0 0 0;
    font-size: 20px;
    color: #858585;
}

.menu
{
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 30px;
    top: 40px;
    vertical-align: middle;
    color: white;
}

.section
{
    text-align: center;
    vertical-align: top;
    background-color: rgb(245, 245, 245);
    padding-top: 20px;
    padding-bottom: 100px;
}

.logo
{
    margin-left: 20px;
    font-family: Pacifico, sans-serif;
    font-size: 70px;
    text-decoration: none;
}

.boutonMenu
{
    color: rgb(193, 193, 193);
    background-color: transparent;
    border: none;
    font-size: 17px;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

    .boutonMenu:hover
    {
        color: white;
        transition: color 0.2s ease-in-out;
        cursor: pointer;
    }

.bouton
{
    border: none;
    font-size: 17px;
    transition: color 0.2s ease-in-out;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.grosBouton
{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
}

.avecFondBlanc
{
    background-color: white;
}

.avecFondVert
{
    background-color: rgb(54, 180, 54);
}

.avecTexteNoir
{
    color: black;
}

.avecTexteGris {
    color: gray;
}

.avecTexteBlanc
{
    color: white;
}

.avecFondBleu {
    background-color: rgb(60, 173, 212);
}

.avecImageFond
{
    background-image: url(../images/WebSite/dark_tint.png), url(../images/Medias/Trip1.jpg);
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    padding: 100px 0px 100px;
    text-align: center;
}

.sectionAlignerHaut
{
    position: relative;
    top: -50px;
}

.boiteBlanche
{
    border: solid 1px rgb(215, 215, 215);
    background-color: white;
    border-radius: 3px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cercle {

    border-radius: 100%;
    color: #ffffff;
    display: inline-block;
    height: 7em;
    line-height: 3.25em;
    text-align: center;
    width: 7em;

    /*height: 100px;
    width: 100px;
    border-radius: 100px;
     display: block;
    margin-left: auto;
    margin-right: auto;*/
}

.big {
   font-size: 7em;
}