body
{
    font-family: 'Segoe UI' , 'Verdana';
    background-repeat: no-repeat;
    margin: 0px 0px 0px 0px;
    font-size: 12px;
}

input[type="text"], input[type="password"], img
{
    outline: none;
}

.main
{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px gray;
    margin-top: 5px;
}
.top
{
    background-image: url('Images/WebSite/BackgroundHaut.jpg');
    text-align: right;
    height: 23px;
}
.corpo
{
    background-image: url('Images/WebSite/Entete.jpg');
    height: 181px;
    background-repeat: no-repeat;
}
.logo
{
    float: left;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    width: 200px;
}


.center
{
    background-image: url('Images/WebSite/BackgroundCentre.jpg');
    text-align: left;
    padding: 20px 20px 20px 20px;
}
.content
{
    border: solid 1px gray;
    padding: 10px 10px 10px 10px;
    background-color: white;
    margin-top: 15px;
    box-shadow: 1px 1px 5px 2px #b2b0b0;
}
.bottom
{
    background-image: url('Images/WebSite/BackgroundMenuBas.jpg');
    height: 165px;
    text-align: left;
    background-repeat: no-repeat;
}
.buttonLanguage
{
    margin: 0px 0px 0px 0px;
    font-size: 11px;
    border: none;
    font-weight: bold;
    background-color: Transparent;
    cursor: pointer;
    height: 20px;
    color: white;
}
.buttonLanguage:hover
{
    color: black;
}


.buttonMenu
{
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    border: none;
    color: rgb(245, 245, 245);
    font-weight: bold;
    background-color: Transparent;
    cursor: pointer;
    height: 20px;
    padding: 0 0 0 0;
}
.buttonMenu:hover
{
    color: rgb(130, 207, 255);
}
.buttonAccount
{
    margin: 0px 0px 0px 0px;
    font-size: 11px;
    border: none;
    color: rgb(171, 255, 0);
    text-decoration: underline;
    font-weight: bold;
    background-color: Transparent;
    cursor: pointer;
    height: 20px;
}
.buttonAccount:hover
{
    color: white;
}


.buttonTop
{
    font-size: 10px;
    border: solid 1px gray;
    color: black;
    font-weight: bold;
    background-color: Transparent;
    cursor: pointer;
    height: 16px;
}
.buttonTop:hover
{
    color: white;
}

.buttonTrackingNumber
{
    font-size: 10px;
    color: black;
    font-weight: bold;
    background-color: Transparent;
    cursor: pointer;
    height: 16px;
}

.buttonTrackingNumber:hover
{
    color: gray;
}

.basketLabel
{
    margin: 0px 0px 0px 0px;
    border: none;
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 14px;
    background-color: Transparent;
    cursor: pointer;
    padding: 0 0 0 0;
}

.buttonMenuBasket
{
    margin: 0px 0px 0px 0px;
    border: none;
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 14px;
    background-color: Transparent;
    cursor: pointer;
    padding: 0 0 0 0;
}
.buttonMenuBasket:hover
{
    color: rgb(130, 207, 255);
}

.button
{
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid black;
    display: inline-block;
    color: black;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}
.button:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}
.button:active
{
    position: relative;
    top: 1px;
}

.searchButton
{
    width: 17px;
    height: 17px;
}
.searchBoxwater
{
    color: gray;
    height: 17px;
    border: none;
    font-size: 11px;
    width: 150px;
}
.searchBoxNoWater
{
    border: none;
    height: 17px;
    width: 150px;
}


.panelError
{
    background-color: rgb(235, 235, 235);
    border: solid 1px gray;
    color: red;
    font-size: 15px;
    font-weight: bold;
    margin: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
}
.menuWithButtonRight
{
    border-top: solid 1px gray;
    margin-top: 30px;
    padding-top: 5px;
    text-align: right;
}
.basketGrid
{
    border: none;
    width: 100%;
}
.basketGrid td
{
    padding: 10px 10px 10px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px rgb(234, 231, 231);
}
.basketGrid th
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px rgb(186, 183, 183);
}

.orderGrid
{
    border: none;
    width: 100%;
}

.orderGrid td
{
    padding: 10px 10px 10px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px rgb(234, 231, 231);
}
.orderGrid th
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px rgb(186, 183, 183);
}

.basketProductName
{
    font-weight: bold;
}

.shippingAdressBasket
{
    float: left;
    width: 50%;
    font-weight: bold;
}

.billingAdressBasket
{
    float: left;
    width: 50%;
    font-weight: bold;
}
.historicCustomerLabel
{
    font-weight: bold;
    width: 98%;
    padding: 5px 5px 5px 5px;
    background-color: rgb(222, 219, 219);
}
.adressInformation
{
    margin-top: 10px;
    font-weight: bold;
    width: 98%;
    padding: 5px 5px 5px 5px;
    background-color: rgb(222, 219, 219);
}

.productFileThumbNail
{
    border: solid 1px gray;
    width: 50px;
    height: 50px;
}

.grandTotalLabel
{
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    font-weight: bold;
}

.titleProductCategory
{
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(133, 155, 162);
    margin-top: 10px;
    color: white;
}

.productIdent
{
    padding-bottom: 5px;
    font-size: 10px;
    color: rgb(201, 201, 201);
}


.productViewButton
{
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    font-weight: bold;
    background-color: Transparent;
    cursor: pointer;
    height: 20px;
    width: 240px;
    text-align: left;
}


.productNameAddToBasket
{
    color: black;
    background-color: rgb(212, 209, 209);
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 20px;
    width: 200px;
    text-align: left;
}
.productName
{
    color: black;
    background-color: rgb(212, 209, 209);
}
.productPrice
{
    font-weight: bold;
    font-size: 14px;
}

.stockDisplay
{
    padding-bottom: 5px;
    font-size: 12px;
    color: rgb(201, 201, 201);
}
.signInPanel
{
    padding-top: 15px;
}
