@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);


#menu-1 A {
	color: #ffffff !important;
	font-size: 18px !important;
	font-family: 'Oxygen', sans-serif !important;
}
#header2-2 H1 {
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
	color: #000000 !important;
}
#header2-2 P {
	color: #000000 !important;
}
#content5-6 .caption h3 {
	color: #fff !important;
}
#content5-6 P {
	color: #fff !important;
}
#msg-box2-7 h2 {
	color: #252525 !important;
}
#msg-box2-7 p {
	color: #252525 !important;
}
