/* TAG HTML STANDARD  */
body                        {margin: 0;padding: 0;font-family: Verdana;}
ol                          {list-style-position: inside;}
ul                          {list-style-position: inside;}
/* TEST */

/*div    {border:solid 1px black;}
TABLE                       {border:solid 1px gray;}
TD                          {border:solid 1px gray;}*/

/* BARRE D'ACTION (SAUVEGARDE, INSERTION, ANNULER) */
.barreAction                {background-color:#E0E0E0;padding:5px 5px 5px 5px;border-style:solid;border-width:1px;border-color:Gray;}

/* IMAGES */
.imageAvecCadre             {border-style:solid; border-width:2px;border-color:gray;}
.imageAvecPointeur          {cursor: pointer;}

/* TABLEAU BORD */
.tableauBordTDInterieur     {padding-left:5px; padding-right:5px; padding-bottom: 5px;}

/* INTERFACE */
input[type="submit"]        {font-size:0.688em;border-left: 1px solid #696;border-right: 1px solid #363;border-top: 1px solid #696;border-bottom: 1px solid #363;color:#626262;font-weight:bold;    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#C0C0C0',EndColorStr='#F4F4F4');height: 20px; }
.linkButton                 {font-size:0.625em;}
.hyperlink                  {font-size:0.625em;}
.treeview                   {font-size:0.625em;}
.listBox                    {font-family: Verdana;}
.listBoxConsult             {font-family: Verdana;border: none 0px White;font-size: xx-large;}
.TitrePage                  {font-size:0.875em;color: white;padding:3px 3px 3px 3px;margin-top:10px;margin-bottom:10px;font-weight:bold;background-color:#92A7AB;border-style:solid;border-width:1px;border-color:Gray;}
.espacementEntre2Champs     {float: left; width: 5px; height: 1px;}
.espacementGroupBox         {height:15px;}
.tdPaddingBottom            {padding-bottom:2px;}
.alignRight                 {text-align:right!important;}

/* UPDATE PROGRESS */
#progressBackgroundFilter   {position:absolute;top:0px;bottom:0px;left:0px;right:0px;overflow:hidden;padding:0;margin:0;background-color:#000;filter:alpha(opacity=50);opacity:0.5;z-index:1001;} 
#processMessage             {border:solid 3px black;text-align:center;font-weight:bold;color:Gray;padding:10px 10px 10px 10px;position:absolute;top:30%;left:38%;width:25%;z-index:1002;background-color:#fff;} 

/* PIV BANNIÈRE */
.pivLienTop                 {font-size:0.688em;color: white;text-decoration: none;}
.pivLienTop:hover           {color: white;text-decoration: underline;}
.pivLienGouvernement        {font-size:0.688em;}
.pivBanniereStyle           {background-color:#003399;}

/* LIBELLE BARRE D'AUTHENTIFICATION */
.lblUtilisateurAuthentifie  {color:#0000A0;}
.lblBienvenue               {color: Black;}
.lblNavigation              {color:#004080;font-variant:small-caps;}

/* TREEVIEW */
.menu_nodeStyle             {color:Black; padding: 2px; width:100%; border: 1px solid transparent;}
.menu_hoverNodestyle        {background-color:#CCCCCC;border-color:#888888;cursor:pointer;}
.menu_selectedNodestyle     {color:#0066CB;padding: 2px;width:100%;}

/* CONFIGURATION DE LA PAGE */
#barreBienvenue             {font-size:0.688em;background-image: url('../../images/header.gif');text-align: right;font-weight: bold;padding: 5px 15px 5px 5px;height:15px;color:Black;}
#barreMenuGauche            {font-size:0.625em;width:180px;background-color:#D6DEE0;border-right:solid 1px gray;text-align:left;font-weight:bold;}
#contenuCentre              {text-align:left;padding: 10px 10px 10px 10px;}
#barrePiedPage              {border-top:solid 1px gray;}
#barreAuthentification      {float: left; text-align: right; width: 100%;}
#barreBoutonsHautDroite     {background-color: #E9EFEC; border: solid 1px gainsboro; text-align: center; padding: 2px 2px 2px 2px;}

/* FILE D'ARIANE */
#breadcrumb                 {font-size:0.625em;padding: 2px 2px 2px 2px;border:solid 1px #E4E4E4;background-color:#FCFCFC;}
#breadcrumb a               {color: #0066CB;text-decoration: none;}
#breadcrumb a:hover         {text-decoration: underline;}

/* MESSAGE D'ERREURS ET CONFIRMATION */
#messageErreur              {}
.messageErreur              {border: 2px solid gray; margin: 5px 0px; padding: 5px; background: #F7F7F7 url(../../images/erreur30x30.png) no-repeat 5px 50%;}
.messageErreur ul           {margin: 0;padding: 0;list-style: square;color:Red;}
.messageErreur li           {margin: 0;padding: 0;margin-left: 50px;list-style: square;color:Red;}

#messageConfirmation              {}
.messageConfirmation              {border: 2px solid gray; margin: 5px 0px; padding: 5px;background: #F7F7F7 url(../../images/checkVert30X30.png) no-repeat 5px;}
.messageConfirmation ul           {margin: 0;padding: 0;list-style: square;color:green;}
.messageConfirmation li           {margin: 0;padding: 0;margin-left: 50px;list-style: square;color:green;}

/* TRANSFERT DE FICHIERS */ 
.transfertFichiers          {padding:10px 10px 10px 10px;background-color:#F5F5F5;border:solid 1px gray;text-align:left;}

/* GRIDVIEW */
.gridView                         {font-family: Verdana; font-size: 0.625em;}
.gridView                         {width: 100%;background-color: #fff;margin: 0px 0 10px 0;border: solid 3px #BEC6CB;border-collapse:collapse;}  
.gridView td                      {padding: 2px;border: solid 1px #c1c1c1;color: black;}  
.gridView th                      {background: url(../../images/gridViewHeader.png) repeat-x top;padding-left:0px;border-left: solid 1px #525252;font-weight:bold;}  
.gridView tr.gvPager              {background: #D0D5D9 url(../../images/gridViewPager.png) repeat-x top;}
.gridView tr.pager                {background: #D0D5D9 url(../../images/gridViewPager.png) repeat-x top;}
.gridView .pager table            {margin: 5px 0; }
.gridView .pager td               {border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: white; line-height: 12px;}
.gridView .pager a                {color: black; text-decoration: none; }  
.gridView .pager a:hover          {color: #000; text-decoration: none; }
.gridView .alternate              {background-color: #D7E0E1;}
.gridViewHeader a                 {color:White; text-decoration:none;}
.gridViewHeader a:hover           {color:#D0D5D9; text-decoration:none;}
.gridViewHeader                   {color:White;text-align:center;}
.gridViewFooter                   {font-weight:bold;}
 
/* REPEATER */
.repeaterHeader             { text-align:center;color:white;padding-left:0px;padding: 0px 0px;background: #424242 url('../../images/gridViewHeader.png') repeat-x top;border-left: solid 1px #525252;font-weight:bold;}  
.repeaterPaging             {font-size: 0.625em;background: #D0D5D9 url('../../images/gridViewPager.png') repeat-x top; }
.repeaterAlternate          {background-color:#D7E0E1;}
.repeaterBody               {font-size: 0.625em;border-right: solid 3px #BEC6CB;border-left: solid 3px #BEC6CB;border-top: solid 3px #BEC6CB; border-bottom: solid 3px #BEC6CB;width: 100%;}
.repeaterHeaderLeft         {border-left: solid 2px #BEC6CB;}
.repeaterFooter        td   {font-weight:bold;font-size:1.0em;border-top: solid 2px #BEC6CB;}
.repeaterRowLeft            {border-left: solid 2px gray;}
.repeaterRowRight           {border-right: solid 2px gray;}
.repeaterRow                {border-bottom: solid 1px #BEC6CB;}

/* ETAT D'IMMEUBLE */
.nodeNonApplicable          {font-style:italic;color:#5F767A;width:100%;}                   /* Items non-applictible dans le TreeView */
.itemNonApplicable          {font-weight:bold;font-style:italic;color:#5F767A;width:100%;}   /* NoUniformat et Description pour StructureBatiment non-applicable */
.nodeAvecObservationOuverte {font-style:normal;color:#660000;width:100%;}
.itemAvecObservationOuverte {font-style:normal;color:#FF0000;width:100%;}
.batimentInactif            {background-color:#F7F4D0;}                         /* Batiment inactif dans résultat de recherche */
.titreStructure             {font-size:0.625em;font-weight:bold;}
.titreStructureParent       {font-size:0.75em;font-weight:bold;font-variant:small-caps;}
.premierNiveauStructure     {font-size:1.2em;font-variant:small-caps;font-style:italic;color:#5F767A;}
.premierNiveauStructureApp  {font-size:1.2em;font-variant:small-caps;color:#000000}
.premierNiveauStructureAlt  {font-size:1.2em;font-variant:small-caps;color:ButtonText;}

.repeaterStructureEmpty     {padding-left:5px;border: solid 3px #BEC6CB;}
.repeaterStructureBorder    {padding-left:3px;border-right: solid 1px #c1c1c1;color:#717171;}
.repeaterStructureHeader    {text-align:center;border-right: solid 1px #c1c1c1;color:white;}
.selectedNodeStrucTreeview  {border:solid 1px #C2CED3;background-color:#D6DEE2;padding-left:1px;padding-right:3px;}
.titreApprobationAnnuel     {color: white;}
.titreCollapseEtatImmeuble  {font-size:0.875em;}
.chkModeOuverte             {font-size:0.75em;} /* Checkbox "Observation ouverte..." dans la page "ListeObservation" */
.chkEtatSatisfaisant        {font-size:0.75em;}
input.btnConsulterBatiment  {font-size:1.0625em;}
.alignImageListeObservation {margin-right:10px;padding-top:5px;padding-right:5px;float:left;}

/* FileUpload */
.FileUpload {background-color:#E0E0E0;padding:1px 1px 1px 1px;border-style:solid;border-width:1px;border-color:Gray;}
/* Page recherche rapports*/
.AlignementChamps { vertical-align:middle; font-size:0.65em; font-family: Verdana;}

/* PILOTAGE ENUMS */
.messageErreurPopin         {margin: 5px 0; color: #990000; font-weight: bold; font-size: 0.625em;}

/* CONTROLE PAGE DE TEST */
.cssDeTest { background-color:#666600; }
.cssDDL { color:#666600; }
