/*
 COULEUR:
    goldenrod
    gray
    white
    darkgoldenrod
*/


*
{
    font-size: 14px;
    font-family: 'calibri', 'Segoe UI', 'Verdana';
}


.boiteEntete
{
    background-color: lightslategrey;
    border: solid 1px gray;
    margin-bottom: 10px;
    color: white;
}

.titreSite
{
    float: left;
    color: white;
    font-weight: bold;
    font-size: 25px;
    width: 50%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.bouton
{
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: darkslategray;
    cursor: pointer;
}

.titreMenu
{
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    background-color: lightslategray;
}

.titrePage
{
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    border: solid 1px gray;
    text-transform: uppercase;
    background: darkslategray;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

#list4
{
    width: 250px;
    font-weight: bold;
}

    #list4 ul
    {
        list-style: none;
        margin-top: 0px;
        margin-left: -40px;
    }

        #list4 ul li a
        {
            display: block;
            text-decoration: none;
            color: #000000;
            background-color: #FFFFFF;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #CCCCCC;
            cursor: pointer;
        }

            #list4 ul li a:hover
            {
                color: white;
                margin: 0 0 0 0;
                background-image: url(../images/hover.png);
                background-repeat: repeat-x;
            }

.boutonMenu
{
    padding: 0;
    border: 0;
    width: 250px;
    font-weight: bold;
    text-align: left;
    display: block;
    text-decoration: none;
    background-color: transparent;
    text-decoration: none;
    color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
    cursor: pointer;
}

    .boutonMenu:hover
    {
        display: block;
        color: white;
        background-image: url(../images/hover.png);
        background-repeat: repeat-x;
    }


.panneauEdition
{
    margin-bottom: 10px;
    margin-left: 10px;
    border: Gray solid 2px;
    background-color: aliceblue;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.panneauEditionBouton
{
    background-color: lightgray;
    border: solid 1px gray;
    padding: 10px 10px 10px 10px;
}
