

.gridView
{
}
.gridView
{
    width: 100%;
    background-color: #fff;
    margin: 0px 0 10px 0;
    border: solid 3px #BEC6CB;
    border-collapse: collapse;
}
.gridView td
{
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: black;
}
.gridView th
{
    font-weight: bold;
    color: #fef4e9;
    border: solid 1px #224c68;
    background: #4b8cba;
    background: -webkit-gradient(linear, left top, left bottom, from(#4b8cba), to(#aec7d9));
    background: -moz-linear-gradient(top,  #4b8cba,  #aec7d9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b8cba', endColorstr='#aec7d9');
}
.gridView tr.gvPager
{
    background: #D0D5D9;
}
.gridView tr.pager
{
    background: #D0D5D9;
}
.gridView .pager table
{
    margin: 5px 0;
}
.gridView .pager td
{
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: white;
    line-height: 12px;
}
.gridView .pager a
{
    color: black;
    text-decoration: none;
}
.gridView .pager a:hover
{
    color: #000;
    text-decoration: none;
}
.gridView .alternate
{
    background-color: #D7E0E1;
}
.gridViewHeader a
{
    color: White;
    text-decoration: none;
}
.gridViewHeader a:hover
{
    color: #D0D5D9;
    text-decoration: none;
}
.gridViewHeader
{
    color: White;
    text-align: center;
}
.gridViewFooter
{
    font-weight: bold;
}

input[type="submit"]
{
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fef4e9;
    border: solid 1px #224c68;
    background: #4b8cba;
    background: -webkit-gradient(linear, left top, left bottom, from(#4b8cba), to(#aec7d9));
    background: -moz-linear-gradient(top,  #4b8cba,  #aec7d9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b8cba', endColorstr='#aec7d9');
}
.button:hover
{
    text-decoration: none;
}
.button:active
{
    position: relative;
    top: 1px;
}
