<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <appSettings>
    <add key="PurolatorWebServiceUrl" value="https://devwebservices.purolator.com/EWS/V1/Estimating/EstimatingService.asmx"/>
    <add key="PurolatorUserName" value="9968ce4f2f594cc9b7b2b6c3c1e763f3"/>
    <add key="PurolatorPassword" value="+nD.&amp;qZj" />
    <add key="PurolatorBillingAccount" value="9999999999" />
    <add key="SenderPostalCode" value="G6K1A6" />
    <add key="CountryReceiverCode" value="CA" />

  </appSettings>

  <autofac>
    <modules>
      <module type="ATMTECH.Scrum.Services.Base.ScrumInitializer, ATMTECH.Scrum.Services, Version=1.0.0.0, Culture=neutral"/>
    </modules>
  </autofac>

  <connectionStrings>
    <add name="connectionString" connectionString="data source=C:\dev\Atmtech\ATMTECH.Scrum.Tests\Database\Scrum.db3" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Windows"/>
    <pages theme="default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Affichage"/>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Edition"/>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Grille"/>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Validation"/>
        <add tagPrefix="atmtech" src="~/UserControls/Login.ascx" tagName="Login"/>
        <add tagPrefix="atmtech" src="~/UserControls/Story.ascx" tagName="Story"/>
        <add tagPrefix="atmtech" src="~/UserControls/Sprint.ascx" tagName="Sprint"/>
      <add tagPrefix="atmtech" src="~/UserControls/Task.ascx" tagName="Task"/>
      </controls>
    </pages>
    <httpModules>
      <add name="HttpModuleSessionManager" type="ATMTECH.Web.HttpModuleSessionManager, ATMTECH.Web"/>
    </httpModules>
  </system.web>
</configuration>
