<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac>
    <modules>
      <module type="ATMTECH.Administration.Services.Base.AdministrationInitializer,ATMTECH.Administration.Services, Version=1.0.0.0, Culture=neutral"/>
    </modules>
  </autofac>
  <appSettings>
    <add key="RootImagePath" value="C:\dev\Atmtech\ATMTECH.Achievement.WebSite\Images"/>
    <add key="webSite" value="ShoppingCart"/>
    <add key="DatabaseVendor" value="mssql"/>
  </appSettings>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=.\SQLEXPRESS2012;Database=ShoppingCart;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Windows"/>
    <pages theme="default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="atmtech" assembly="ATMTECH.WebControls" namespace="ATMTECH.WebControls"/>
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="HttpModuleSessionManager" type="ATMTECH.Web.HttpModuleSessionManager, ATMTECH.Web"/>
    </modules>
  </system.webServer>
</configuration>
