#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-0 .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-15 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-15 .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-23 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-23.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-23 .mbr-navbar__section {
  background: #28324e;
}
