body
{
    background-color: black;
    color: white;
}

input[type="text"], input[type="password"], img
{
    outline: none;
}

.metrouicss .link
{
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 13pt;
    color: #2e92cf;
    text-decoration: none;
}

.errorMessage
{
    padding: 10px 10px 10px 10px;
    border: solid 1px gray;
    background-color: whitesmoke;
    color: red;
    width: 950px;
    margin-bottom: 10px;
}

.successMessage
{
    padding: 10px 10px 10px 10px;
    border: solid 1px gray;
    background-color: whitesmoke;
    color: green;
    width: 950px;
    margin-bottom: 10px;
}

.bottom
{
    height: 165px;
    width: 950px;
    color: darkgrey;
    padding: 10px 10px 10px 10px;
}


.title
{
    width: 100%;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    border: solid 1px gray;
    background-color: #666666;
    margin-bottom: 10px;
}

.titleProduct
{
    width: 950px;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    border: solid 1px gray;
    background-color: #666666;
    margin-bottom: 10px;
    margin-top: 35px;
}


.panel
{
    width: 950px;
    padding: 10px 10px 10px 10px;
    border: solid 1px gray;
    background-color: #414141;
    margin-bottom: 10px;
}

.menuShopping
{
    float: right;
    border-bottom: solid 2px rgb(229, 229, 229);
    border-right: solid 2px rgb(229, 229, 229);
    height: 40px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 10px;
}

.menuShoppingBasket
{
    float: right;
    border-bottom: solid 2px rgb(229, 229, 229);
    border-right: solid 2px rgb(229, 229, 229);
    height: 40px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}





.metrouicss .bg-color-header
{
    background-color: #ffffff !important;
}

.metrouicss .bg-color-product
{
    background-color: #1d1d1d !important;
}

.metrouicss .bg-color-button-product
{
    background-color: #00a300 !important;
}

.metrouicss .bg-color-button-instruction
{
    background-color: #2b5797 !important;
}

.metrouicss .bg-color-button-steptoorder
{
    background-color: #00aba9 !important;
}

.metrouicss .bg-color-button-customercare
{
    background-color: #7e3878 !important;
}

.metrouicss .bg-color-button-contact
{
    background-color: #1d1d1d !important;
}

.askShippingBox
{
    color: rgb(33, 0, 255);
    width: 100%;
    border: solid 2px gray;
    background-color: rgb(231, 231, 187);
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
}

.addToBasketOrderList {
    font-size: 12px;
}

.orderGrid {
    font-size: 10px;
}