<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac>
    <modules>
      <module type=" ATMTECH.ShoppingCart.Services.Base.ShoppingCartInitializer, ATMTECH.ShoppingCart.Services, Version=1.0.0.0, Culture=neutral"/>
    </modules>
  </autofac>
  <appSettings>
    <!--<add key="DefaultLanguage" value="en" />-->
    <add key="IdEnterpriseWhenNotAuthentified" value="8"/>
    <add key="DatabaseVendor" value="mssql"/>
  </appSettings>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=.\SQLEXPRESS2012;Database=ShoppingCart;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Windows"/>
    <pages theme="default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Affichage"/>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Edition"/>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Grille"/>
        <add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Validation"/>
      </controls>
    </pages>


  </system.web>
  <system.webServer>
    <modules>
      <add name="HttpModuleSessionManager" type="ATMTECH.Web.HttpModuleSessionManager, ATMTECH.Web"/>
    </modules>
    <handlers>
      <add  name="captcha" verb="*" path="captcha.ashx" type="ATMTECH.ShoppingCart.PubJL.Captcha"/>
    </handlers>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaypalAdaptivePayBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PayPalAPISoapBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PayPalAPIAASoapBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PayPalAPISoapBinding1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PayPalAPIAASoapBinding1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://svcs.sandbox.paypal.com/AdaptivePayments"
        binding="basicHttpBinding" bindingConfiguration="PaypalAdaptivePayBinding"
        contract="PaypalSandboxApi.AdaptivePaymentsPortType" name="PaypalAdaptivePay" />
      <endpoint address="https://api-3t.paypal.com/2.0/" binding="basicHttpBinding"
        bindingConfiguration="PayPalAPISoapBinding" contract="PaypalSandboxService.PayPalAPIInterface"
        name="PayPalAPI" />
      <endpoint address="https://api-3t.paypal.com/2.0/" binding="basicHttpBinding"
        bindingConfiguration="PayPalAPIAASoapBinding" contract="PaypalSandboxService.PayPalAPIAAInterface"
        name="PayPalAPIAA" />

      <!--api-3t.paypal.com pour la clé en production-->
    </client>
  </system.serviceModel>
</configuration>
