<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PurolatorWebServiceUrl" value="https://devwebservices.purolator.com/EWS/V1/Estimating/EstimatingService.asmx"/>
    <add key="PurolatorUserName" value="9968ce4f2f594cc9b7b2b6c3c1e763f3"/>
    <add key="PurolatorPassword" value="+nD.&amp;qZj" />
    <add key="PurolatorBillingAccount" value="9999999999" />
  </appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<pages theme="default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Affichage"/>
				<add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Edition"/>
				<add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Grille"/>
				<add tagPrefix="atmtech" assembly="ATMTECH.Web.Controls" namespace="ATMTECH.Web.Controls.Validation"/>
			</controls>
		</pages>
	</system.web>
</configuration>
