<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="data source=C:\dev\Atmtech\ATMTECH.ShoppingCart.Tests\Database\ShoppingCart.db3" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
