<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <appSettings>
    <add key="BaseURI" value="http://localhost:52990/default.aspx"/>
  </appSettings>
  <specFlow>
    <language feature="fr-CA"/>
    <unitTestProvider name="MsTest" />
    <stepAssemblies>
      <stepAssembly assembly="ATMTECH.BDD" />
    </stepAssemblies>
  </specFlow>
</configuration>
