body
{
    margin: 0 0 0 0;
    background: #111;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #ffffff;
    line-height: 1.6em;
    font-weight: 300;
}

a
{
    text-decoration: none;
    color: white;
}

.textBoxRecherche
{
    margin-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    padding: 5px 0!important;
    color: #ffffff;
    text-indent: 5px;
    background: transparent;
    padding: 10px 5px;
    color: #ffffff;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
}

.textBox
{
    border: solid 1px rgb(75, 75, 75);
    color: #ffffff;
    text-indent: 5px;
    background: transparent;
    color: #ffffff;
    height: 25px;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
}

.textBoxMultiligne
{
    border: solid 1px rgb(75, 75, 75);
    color: #ffffff;
    text-indent: 5px;
    background: transparent;
    color: #ffffff;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
}

.boutonLien
{
    border: none;
    background-color: #111;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
}

    .boutonLien:hover
    {
        color: darkgray;
    }

.boutonAction
{
    position: relative;
    left: -5px;
    top: 1px;
    border: none;
    background-color: rgb(75, 75, 75);
    color: white;
    height: 29px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

    .boutonAction:hover
    {
        background-color: rgb(129, 129, 129);
    }

.boutonActionRond
{
    border: none;
    height: 35px;
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    cursor: pointer;
}

    .boutonActionRond:hover
    {
        background-color: rgb(129, 129, 129);
    }

.boutonActionRondFinaliser
{
    border: none;
    height: 35px;
    background-color: rgb(0, 150, 31);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    cursor: pointer;
    width: 200px;
}

    .boutonActionRondFinaliser:hover
    {
        background-color: rgb(21, 116, 31);
    }

.boutonAjouterPanier:hover
{
    background-color: rgb(129, 129, 129);
}


.center
{
    padding-top: 10px;
    margin: 0 auto;
    width: 1000px;
    color: white;
}

.recherche
{
}

.logo
{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.lienAuthentification
{
    float: left;
    width: 20%;
}

.menu
{
    margin-top: 20px;
    border-bottom: solid 8px rgb(75, 75, 75);
    padding-bottom: 10px;
}

.categorie
{
    margin-top: 20px;
}

.vente
{
    margin-top: 20px;
    border-bottom: solid 1px rgb(75, 75, 75);
    border-top: solid 1px rgb(75, 75, 75);
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.listeObjetEnPromo
{
    position: relative;
    top: -10px;
    padding-left: 20px;
}

.menuBas
{
    margin-top: 100px;
    padding-bottom: 20px;
    background-color: black;
}

.informationBasPage
{
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}


.imageProduit
{
    float: left;
    padding-top: 20px;
}

.descriptionProduit
{
    padding-left: 15px;
    float: left;
    width: 540px;
}

.titreDescriptionProduit
{
    padding-top: 20px;
    font-size: 20px;
    border-bottom: solid 1px rgb(75, 75, 75);
    font-weight: bold;
    text-transform: uppercase;
}

.prixDescriptionProduit
{
    padding-top: 10px;
    font-size: 15px;
}

.quantiteDescriptionProduit
{
    padding-top: 10px;
    font-weight: bold;
    border-bottom: solid 1px rgb(75, 75, 75);
    padding-bottom: 20px;
}


.detailDescriptionProduit
{
    padding-top: 20px;
    font-weight: bold;
}

.navigation
{
    text-align: center;
    float: left;
    width: 33%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.listeCourriel
{
    text-align: center;
    float: left;
    width: 33%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.reseauSociaux
{
    text-align: center;
    float: left;
    width: 33%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.copyRight
{
    border-top: solid 1px rgb(75, 75, 75);
    margin: 0 auto;
    width: 1000px;
    margin-top: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imageProduitAfficher
{
    width: 420px;
    height: 650px;
}

.loginConnecter
{
    font-weight: bold;
    padding-top: 20px;
    float: left;
    text-transform: uppercase;
}

.labelLogin
{
    font-size: 12px;
    text-transform: none;
}

.loginCreerLogin
{
    padding-left: 200px;
    font-weight: bold;
    padding-top: 20px;
    float: left;
    text-transform: uppercase;
}


.InformationClient
{
    font-weight: bold;
    padding-top: 20px;
    float: left;
    text-transform: uppercase;
    border-right: solid 1px gray;
    padding-right: 20px;
}

.Panier
{
    font-weight: bold;
    margin-top: 20px;
}

.motPasseOublie
{
    font-weight: bold;
    padding-top: 20px;
    float: left;
    text-transform: uppercase;
    padding-right: 20px;
}

.confirmationPaypal
{
    font-weight: bold;
    padding-top: 20px;
    float: left;
    text-transform: uppercase;
    padding-right: 20px;
}


.confirmationCreationCompte
{
    padding-top: 20px;
    font-size: 20px;
}

.HistoriqueCommandeClient
{
    width: 567px;
    padding-top: 20px;
    float: left;
    padding-left: 10px;
}

.errorMessage
{
    padding: 10px 10px 10px 10px;
    border: solid 5px gray;
    background-color: whitesmoke;
    color: red;
    width: 970px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.successMessage
{
    padding: 10px 10px 10px 10px;
    border: solid 5px gray;
    background-color: whitesmoke;
    color: green;
    width: 970px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.adresseLivraisonClient
{
    padding-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.adresseFacturationClient
{
    padding-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.titreDansPage
{
    text-transform: uppercase;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(236, 191, 140);
    padding-bottom: 10px;
}





.askShippingBox
{
    color: rgb(33, 0, 255);
    width: 100%;
    border: solid 2px gray;
    background-color: rgb(231, 231, 187);
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
}

.addToBasketOrderList
{
    font-size: 12px;
}



.Table
{
    display: table;
}

.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
    background-color: rgb(52, 52, 52);
}

.Row
{
    display: table-row;
}

.Cell
{
    text-align: center;
    font-weight: normal;
    display: table-cell;
    border: solid gray;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.thumbnailListeProduitEnVente
{
    text-align: center;
}

.thumbnailImageListeProduitEnVente
{
    width: 125px;
    height: 200px;
}

.wrapper
{
    margin: 50px auto;
    width: 220px;
    height: 200px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
}

.ribbon-wrapper-green
{
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-green
{
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

    .ribbon-green:before, .ribbon-green:after
    {
        content: "";
        border-top: 3px solid #6e8900;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        position: absolute;
        bottom: -3px;
    }

    .ribbon-green:before
    {
        left: 0;
    }

    .ribbon-green:after
    {
        right: 0;
    }


.prixEpargner
{
    color: rgb(187, 80, 80);
}

.prixPaye
{
    font-size: 25px;
    font-weight: bold;
}

.totalPanierLigneCommande
{
    font-weight: bold;
    border-bottom: solid 1px gray;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.ajustementPrixPanier
{
    margin-top: 5px;
    border-top: solid 1px gray;
    font-size: 10px;
}

.totalCommandePanier
{
    border-top: solid 1px gray;
    color: gold;
    font-size: 15px;
}

.affichageAdressePanier
{
    text-transform: none;
}

.merciPourLaCommande
{
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
}

.prixRaye
{
    text-decoration: line-through;
}

.slideShowTitre
{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: solid 1px white;
    margin-bottom: 10px;
}

.slideShowLienAcheter
{
    font-weight: bold;
    font-size: 20px;
}

.slideShowCercleEpargne
{
    margin-top: 40px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #23295a;
    border: solid 5px white;
}

.slideShowCerclePadding
{
    padding-top: 25px;
}

.slideShowCerclePourcentage
{
    font-size: 25px;
}

.slideShowDivisionTexte
{
    float: left;
    width: 670px;
    padding-right: 10px;
    padding-top: 80px;
    padding-left: 10px;
}

.slideShowDivisionImage {
    float: left; width: 300px;
}