BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana; PADDING-TOP: 0px
}
OL {
	LIST-STYLE-POSITION: inside
}
UL {
	LIST-STYLE-POSITION: inside
}
.barreAction {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #e0e0e0; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 5px
}
.imageAvecCadre {
	BORDER-BOTTOM: gray 2px solid; BORDER-LEFT: gray 2px solid; BORDER-TOP: gray 2px solid; BORDER-RIGHT: gray 2px solid
}
.imageAvecPointeur {
	CURSOR: pointer
}
.tableauBordTDInterieur {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
INPUT[type='submit'] {
	BORDER-BOTTOM: #363 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#C0C0C0',EndColorStr='#F4F4F4'); BORDER-LEFT: #696 1px solid; HEIGHT: 20px; COLOR: #626262; FONT-SIZE: 0.68em; BORDER-TOP: #696 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #363 1px solid
}
.linkButton {
	FONT-SIZE: 0.62em
}
.hyperlink {
	FONT-SIZE: 0.62em
}
.treeview {
	FONT-SIZE: 0.62em
}
.listBox {
	FONT-FAMILY: Verdana
}
.listBoxConsult {
	BORDER-BOTTOM: white 0px; BORDER-LEFT: white 0px; FONT-FAMILY: Verdana; FONT-SIZE: xx-large; BORDER-TOP: white 0px; BORDER-RIGHT: white 0px
}
.titrePage {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #92a7ab; MARGIN-TOP: 10px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; MARGIN-BOTTOM: 10px; COLOR: white; FONT-SIZE: 0.87em; BORDER-TOP: gray 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 3px
}
.espacementEntre2Champs {
	WIDTH: 5px; FLOAT: left; HEIGHT: 1px
}
.espacementGroupBox {
	HEIGHT: 15px
}
.tdPaddingBottom {
	PADDING-BOTTOM: 2px
}
.alignRight {
	TEXT-ALIGN: right !important
}
#progressBackgroundFilter {
	Z-INDEX: 1001; POSITION: absolute; FILTER: alpha(opacity=50); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #000; MARGIN: 0px; PADDING-LEFT: 0px; BOTTOM: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; TOP: 0px; RIGHT: 0px; PADDING-TOP: 0px; LEFT: 0px; opacity: 0.5
}
#processMessage {
	Z-INDEX: 1002; BORDER-BOTTOM: black 3px solid; POSITION: absolute; TEXT-ALIGN: center; BORDER-LEFT: black 3px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 10px; WIDTH: 25%; PADDING-RIGHT: 10px; COLOR: gray; BORDER-TOP: black 3px solid; TOP: 30%; FONT-WEIGHT: bold; BORDER-RIGHT: black 3px solid; PADDING-TOP: 10px; LEFT: 38%
}
.pivLienTop {
	COLOR: white; FONT-SIZE: 0.68em; TEXT-DECORATION: none
}
.pivLienTop:hover {
	COLOR: white; TEXT-DECORATION: underline
}
.pivLienGouvernement {
	FONT-SIZE: 0.68em
}
.pivBanniereStyle {
	BACKGROUND-COLOR: #003399
}
.lblUtilisateurAuthentifie {
	COLOR: #0000a0
}
.lblBienvenue {
	COLOR: black
}
.lblNavigation {
	FONT-VARIANT: small-caps; COLOR: #004080
}
.menu_nodeStyle {
	BORDER-BOTTOM: transparent 1px solid; BORDER-LEFT: transparent 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 100%; PADDING-RIGHT: 2px; COLOR: black; BORDER-TOP: transparent 1px solid; BORDER-RIGHT: transparent 1px solid; PADDING-TOP: 2px
}
.menu_hoverNodestyle {
	BORDER-BOTTOM-COLOR: #888888; BACKGROUND-COLOR: #cccccc; BORDER-TOP-COLOR: #888888; BORDER-RIGHT-COLOR: #888888; BORDER-LEFT-COLOR: #888888; CURSOR: pointer
}
.menu_selectedNodestyle {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 100%; PADDING-RIGHT: 2px; COLOR: #0066cb; PADDING-TOP: 2px
}
#barreBienvenue {
	BACKGROUND-IMAGE: url(../../images/header.gif); TEXT-ALIGN: right; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 15px; HEIGHT: 15px; COLOR: black; FONT-SIZE: 0.68em; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
#barreMenuGauche {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #d6dee0; WIDTH: 180px; FONT-SIZE: 0.62em; FONT-WEIGHT: bold; BORDER-RIGHT: gray 1px solid
}
#contenuCentre {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
#barrePiedPage {
	BORDER-TOP: gray 1px solid
}
#barreAuthentification {
	TEXT-ALIGN: right; WIDTH: 100%; FLOAT: left
}
#barreBoutonsHautDroite {
	BORDER-BOTTOM: gainsboro 1px solid; TEXT-ALIGN: center; BORDER-LEFT: gainsboro 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #e9efec; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: gainsboro 1px solid; BORDER-RIGHT: gainsboro 1px solid; PADDING-TOP: 2px
}
#breadcrumb {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #fcfcfc; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 0.62em; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 2px
}
#breadcrumb A {
	COLOR: #0066cb; TEXT-DECORATION: none
}
#breadcrumb A:hover {
	TEXT-DECORATION: underline
}
#messageErreur {
	
}
.messageErreur {
	BORDER-BOTTOM: gray 2px solid; BORDER-LEFT: gray 2px solid; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(../../images/erreur30x30.png) #f7f7f7 no-repeat 5px 50%; BORDER-TOP: gray 2px solid; BORDER-RIGHT: gray 2px solid; PADDING-TOP: 5px
}
.messageErreur UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: square; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: red; PADDING-TOP: 0px
}
.messageErreur LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: square; MARGIN: 0px 0px 0px 50px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: red; PADDING-TOP: 0px
}
#messageConfirmation {
	
}
.messageConfirmation {
	BORDER-BOTTOM: gray 2px solid; BORDER-LEFT: gray 2px solid; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(../../images/checkVert30X30.png) #f7f7f7 no-repeat 5px 50%; BORDER-TOP: gray 2px solid; BORDER-RIGHT: gray 2px solid; PADDING-TOP: 5px
}
.messageConfirmation UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: square; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: green; PADDING-TOP: 0px
}
.messageConfirmation LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: square; MARGIN: 0px 0px 0px 50px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: green; PADDING-TOP: 0px
}
.transfertFichiers {
	BORDER-BOTTOM: gray 1px solid; TEXT-ALIGN: left; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f5f5f5; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 10px
}
.gridView {
	FONT-FAMILY: Verdana; FONT-SIZE: 0.62em
}
.gridView {
	BORDER-BOTTOM: #bec6cb 3px solid; BORDER-LEFT: #bec6cb 3px solid; BACKGROUND-COLOR: #fff; MARGIN: 0px 0px 10px; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-TOP: #bec6cb 3px solid; BORDER-RIGHT: #bec6cb 3px solid
}
.gridView TD {
	BORDER-BOTTOM: #c1c1c1 1px solid; BORDER-LEFT: #c1c1c1 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: black; BORDER-TOP: #c1c1c1 1px solid; BORDER-RIGHT: #c1c1c1 1px solid; PADDING-TOP: 2px
}
.gridView TH {
	BORDER-LEFT: #525252 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(../../images/gridViewHeader.png) repeat-x 50% top; FONT-WEIGHT: bold
}
.gridView TR.gvPager {
	BACKGROUND: url(../../images/gridViewPager.png) #d0d5d9 repeat-x 50% top
}
.gridView TR.pager {
	BACKGROUND: url(../../images/gridViewPager.png) #d0d5d9 repeat-x 50% top
}
.gridView .pager TABLE {
	MARGIN: 5px 0px
}
.gridView .pager TD {
	BORDER-LEFT: #666 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 12px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: white; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.gridView .pager A {
	COLOR: black; TEXT-DECORATION: none
}
.gridView .pager A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.gridView .alternate {
	BACKGROUND-COLOR: #d7e0e1
}
.gridViewHeader A {
	COLOR: white; TEXT-DECORATION: none
}
.gridViewHeader A:hover {
	COLOR: #d0d5d9; TEXT-DECORATION: none
}
.gridViewHeader {
	TEXT-ALIGN: center; COLOR: white
}
.gridViewFooter {
	FONT-WEIGHT: bold
}
.repeaterHeader {
	TEXT-ALIGN: center; BORDER-LEFT: #525252 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../../images/gridViewHeader.png) #424242 repeat-x 50% top; COLOR: white; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.repeaterPaging {
	BACKGROUND: url(../../images/gridViewPager.png) #d0d5d9 repeat-x 50% top; FONT-SIZE: 0.62em
}
.repeaterAlternate {
	BACKGROUND-COLOR: #d7e0e1
}
.repeaterBody {
	BORDER-BOTTOM: #bec6cb 3px solid; BORDER-LEFT: #bec6cb 3px solid; WIDTH: 100%; FONT-SIZE: 0.62em; BORDER-TOP: #bec6cb 3px solid; BORDER-RIGHT: #bec6cb 3px solid
}
.repeaterHeaderLeft {
	BORDER-LEFT: #bec6cb 2px solid
}
.repeaterFooter TD {
	FONT-SIZE: 1em; BORDER-TOP: #bec6cb 2px solid; FONT-WEIGHT: bold
}
.repeaterRowLeft {
	BORDER-LEFT: gray 2px solid
}
.repeaterRowRight {
	BORDER-RIGHT: gray 2px solid
}
.repeaterRow {
	BORDER-BOTTOM: #bec6cb 1px solid
}
.nodeNonApplicable {
	FONT-STYLE: italic; WIDTH: 100%; COLOR: #5f767a
}
.itemNonApplicable {
	FONT-STYLE: italic; WIDTH: 100%; COLOR: #5f767a; FONT-WEIGHT: bold
}
.nodeAvecObservationOuverte {
	FONT-STYLE: normal; WIDTH: 100%; COLOR: #660000
}
.itemAvecObservationOuverte {
	FONT-STYLE: normal; WIDTH: 100%; COLOR: #ff0000
}
.batimentInactif {
	BACKGROUND-COLOR: #f7f4d0
}
.titreStructure {
	FONT-SIZE: 0.62em; FONT-WEIGHT: bold
}
.titreStructureParent {
	FONT-VARIANT: small-caps; FONT-SIZE: 0.75em; FONT-WEIGHT: bold
}
.premierNiveauStructure {
	FONT-VARIANT: small-caps; FONT-STYLE: italic; COLOR: #5f767a; FONT-SIZE: 1.2em
}
.premierNiveauStructureApp {
	FONT-VARIANT: small-caps; COLOR: #000000; FONT-SIZE: 1.2em
}
.premierNiveauStructureAlt {
	FONT-VARIANT: small-caps; COLOR: buttontext; FONT-SIZE: 1.2em
}
.repeaterStructureEmpty {
	BORDER-BOTTOM: #bec6cb 3px solid; BORDER-LEFT: #bec6cb 3px solid; PADDING-LEFT: 5px; BORDER-TOP: #bec6cb 3px solid; BORDER-RIGHT: #bec6cb 3px solid
}
.repeaterStructureBorder {
	PADDING-LEFT: 3px; COLOR: #717171; BORDER-RIGHT: #c1c1c1 1px solid
}
.repeaterStructureHeader {
	TEXT-ALIGN: center; COLOR: white; BORDER-RIGHT: #c1c1c1 1px solid
}
.selectedNodeStrucTreeview {
	BORDER-BOTTOM: #c2ced3 1px solid; BORDER-LEFT: #c2ced3 1px solid; BACKGROUND-COLOR: #d6dee2; PADDING-LEFT: 1px; PADDING-RIGHT: 3px; BORDER-TOP: #c2ced3 1px solid; BORDER-RIGHT: #c2ced3 1px solid
}
.titreApprobationAnnuel {
	COLOR: white
}
.titreCollapseEtatImmeuble {
	FONT-SIZE: 0.87em
}
.chkModeOuverte {
	FONT-SIZE: 0.75em
}
.chkEtatSatisfaisant {
	FONT-SIZE: 0.75em
}
INPUT.btnConsulterBatiment {
	FONT-SIZE: 1.06em
}
.alignImageListeObservation {
	PADDING-RIGHT: 5px; FLOAT: left; MARGIN-RIGHT: 10px; PADDING-TOP: 5px
}
.FileUpload {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #e0e0e0; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 1px
}
.AlignementChamps {
	FONT-FAMILY: Verdana; FONT-SIZE: 0.65em; VERTICAL-ALIGN: middle
}
.messageErreurPopin {
	MARGIN: 5px 0px; COLOR: #990000; FONT-SIZE: 0.62em; FONT-WEIGHT: bold
}
.cssDeTest {
	BACKGROUND-COLOR: #666600
}
.cssDDL {
	COLOR: #666600
}
