BODY {
	FONT-FAMILY: Verdana
}
.titreLabelAvance {
	FONT-FAMILY: Verdana
}
.libelleradioButtonAvance {
	FONT-FAMILY: Verdana
}
.controleLectureSeule {
	FONT-FAMILY: Verdana
}
.grilleAvance {
	FONT-FAMILY: Verdana
}
.suffixeTextBox {
	FONT-FAMILY: Verdana
}
SELECT {
	FONT-FAMILY: Verdana
}
INPUT.textBoxAvance {
	FONT-FAMILY: Verdana
}
TEXTAREA {
	FONT-FAMILY: Verdana
}
.dxeListBox {
	FONT-FAMILY: Verdana
}
.dxeEditArea {
	FONT-FAMILY: Verdana
}
.dxeListBoxItem {
	FONT-FAMILY: Verdana
}
.titreLabelAvance {
	COLOR: #626262; FONT-WEIGHT: bold
}
.libelleradioButtonAvance {
	COLOR: #626262; FONT-WEIGHT: bold
}
.titreLabelAvance {
	VERTICAL-ALIGN: top
}
.celluleContenu {
	VERTICAL-ALIGN: top
}
.celluleContenu .indicObligatoire {
	VERTICAL-ALIGN: top
}
.celluleContenu .indicErreur {
	VERTICAL-ALIGN: top
}
.celluleContenu INPUT {
	VERTICAL-ALIGN: top
}
.celluleContenu SELECT {
	VERTICAL-ALIGN: top
}
.controleLectureSeule {
	VERTICAL-ALIGN: top
}
.suffixeTextBox {
	VERTICAL-ALIGN: top
}
TD.celluleContenu INPUT.dxeEditArea {
	VERTICAL-ALIGN: baseline
}
.celluleContenu {
	WHITE-SPACE: nowrap
}
.suffixeTextBox {
	WHITE-SPACE: nowrap
}
.contenuLabelAvance {
	WHITE-SPACE: normal
}
.lectureSeule .multiLigneTextBoxAvance {
	WHITE-SPACE: normal
}
TD.celluleContenu INPUT {
	WHITE-SPACE: normal
}
TD.celluleContenu SELECT {
	WHITE-SPACE: normal
}
.celluleContenu .indicErreur {
	VERTICAL-ALIGN: top
}
.suffixeTextBox {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-TOP: 1px
}
SPAN.controleLectureSeule {
	DISPLAY: inline-block; MARGIN-LEFT: 8px
}
.controleAutoComplet {
	DISPLAY: inline
}
.controleAutoComplet {
	DISPLAY: inline-table
}
SPAN.facultatif {
	MARGIN-LEFT: 8px
}
TD.facultatif .controleAutoComplet {
	MARGIN-LEFT: 8px
}
TD.facultatif INPUT {
	MARGIN-LEFT: 8px
}
TD.facultatif SELECT {
	MARGIN-LEFT: 8px
}
TD.facultatif TEXTAREA {
	MARGIN-LEFT: 8px
}
.lectureSeule .textBoxAvance {
	PADDING-RIGHT: 4px
}
TD.titreLabelAvance {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD.celluleContenu {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.controleLectureSeule {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.lectureSeule .suffixeTextBox {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD.celluleContenu {
	PADDING-TOP: 2px
}
TD.titreLabelAvance {
	PADDING-TOP: 2px
}
TD.obligatoire {
	PADDING-TOP: 1px
}
TD.facultatif {
	PADDING-TOP: 1px
}
TD.titreLabelAvance {
	PADDING-LEFT: 5px
}
TD.titreLabelAvance:first-child {
	PADDING-LEFT: 0px
}
.barreAction {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #e0e0e0; MARGIN-TOP: 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; OVERFLOW: auto; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 5px
}
.contenantBoutonStandard {
	FLOAT: left
}
.contenantBoutonCustom {
	FLOAT: right
}
.libelleradioButtonAvance {
	MARGIN-LEFT: 6px; VERTICAL-ALIGN: top
}
.radioButtonAvance {
	VERTICAL-ALIGN: top
}
INPUT.textBoxAvance {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; COLOR: #333333; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 0px
}
TEXTAREA.textBoxAvance {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; COLOR: #333333; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 0px
}
TD.celluleContenu INPUT.textBoxAvance {
	MARGIN-TOP: -1px
}
INPUT.dateSansCalendrierTextBoxAvance {
	WIDTH: 70px
}
INPUT.dateTextBoxAvance {
	WIDTH: 70px
}
.checkBoxAvance INPUT {
	WIDTH: 13px; HEIGHT: 13px
}
.checkBoxAvance INPUT {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 0px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px
}
.alignementGauche {
	TEXT-ALIGN: left
}
.alignementDroite {
	TEXT-ALIGN: right
}
.textBoxEditorAvanceLectureSeule {
	FONT-FAMILY: Verdana
}
.textBoxEditorAvance {
	FONT-FAMILY: Verdana
}
.textBoxEditorAvance DIV {
	HEIGHT: 100%
}
.textBoxEditorAvance DIV DIV {
	HEIGHT: auto
}
.textBoxEditorAvanceLectureSeule {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; OVERFLOW: auto; PADDING-TOP: 5px
}
.contenantValidateur {
	DISPLAY: inline-block
}
.contenantValidateur {
	WIDTH: 13px; HEIGHT: 15px
}
.contenantValidateur SPAN {
	WIDTH: 13px; HEIGHT: 15px
}
OPTION.elementInactif {
	COLOR: #666666
}
IMG.dxEditors_edtDropDown {
	DISPLAY: none
}
TABLE.controles TR {
	VERTICAL-ALIGN: top
}
TABLE.controles SPAN.titreLabelAvance {
	DISPLAY: inline-block
}
.groupeBoite {
	Z-INDEX: 10; BORDER-BOTTOM: gainsboro 1px solid; POSITION: relative; BORDER-LEFT: gainsboro 1px solid; MARGIN-TOP: 10px; MARGIN-BOTTOM: 20px; BORDER-TOP: gainsboro 1px solid; BORDER-RIGHT: gainsboro 1px solid
}
.groupeBoite {
	MIN-WIDTH: 0px
}
.groupeBoitet DIV {
	POSITION: absolute; TOP: 0px; LEFT: -2px
}
.groupeBoitet {
	POSITION: absolute; TOP: -1px; RIGHT: -1px
}
.groupeBoiteb DIV {
	POSITION: absolute; BOTTOM: 0px; LEFT: -2px
}
.groupeBoiteb {
	POSITION: absolute; BOTTOM: -1px; RIGHT: -1px
}
.groupeBoitet DIV {
	WIDTH: 100%; HEIGHT: 8px
}
.groupeBoitet {
	WIDTH: 100%; HEIGHT: 8px
}
.groupeBoiteb DIV {
	WIDTH: 100%; HEIGHT: 8px
}
.groupeBoiteb {
	WIDTH: 100%; HEIGHT: 8px
}
.groupeBoitec {
	MARGIN: 8px
}
.groupeBoitecl {
	MARGIN-TOP: 14px
}
.groupeBoitel {
	POSITION: absolute; BACKGROUND-COLOR: white; COLOR: #0080c0; TOP: -8px; FONT-WEIGHT: bold; LEFT: 8px
}
.section {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #e0e0e0; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 20px; COLOR: #797979; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: black 1px solid; PADDING-TOP: 3px
}
.section IMG {
	MARGIN-RIGHT: 10px
}
.val-summary {
	BORDER-BOTTOM: gray 2px solid; BORDER-LEFT: gray 2px solid; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f7f7f7 5px 50%; BORDER-TOP: gray 2px solid; BORDER-RIGHT: gray 2px solid; PADDING-TOP: 5px
}
.val-summary UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.val-summary-msg-erreur {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.val-summary-msg-succes {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.val-summary-msg-erreur SPAN {
	MARGIN-LEFT: 2px
}
.val-summary-msg-succes SPAN {
	MARGIN-LEFT: 2px
}
.val-summary-msg-erreur {
	COLOR: red
}
.val-summary-msg-succes {
	COLOR: green
}
.sdlLibelle {
	FONT-STYLE: italic; COLOR: #626262; FONT-WEIGHT: bold
}
.sdlContenu {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; FONT-FAMILY: Verdana; COLOR: #333333; VERTICAL-ALIGN: top; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 0px
}
LI.wizard {
	MARGIN: 0px
}
LI.wizard SPAN {
	FLOAT: left
}
.debut-wiz {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: repeat-x left top; HEIGHT: 25px; PADDING-TOP: 7px
}
.fin-wiz {
	WIDTH: 13px; BACKGROUND: no-repeat left top; HEIGHT: 28px
}
.ui-dialog {
	OVERFLOW: visible !important
}
.ui-dialog .avecAutoComplete {
	OVERFLOW: visible !important
}
